# Environment files
.env
*.env
token.json
credentials.json

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# Logs
log/*.log
!log/.gitkeep

# IDE / editors
.vscode/
.idea/

# Output
output/*
!output/.gitkeep